@charset "ISO-8859-1";


/*body, html {
 height: 100%;
}*/

.layout-sidebar {
	position: fixed;
	left: 0;
	top: 100px;
	height: calc(100% - 70px);
	/*background-color: var(- -surface-a);*/
	background-color: var(- -surface-a);
	/*background: transparent;
	backdrop-filter: blur(20px);*/
	width: 250px;
	border-right: 1px solid var(--surface-d);
	user-select: none;
	transition: transform .4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
	display: flex;
	flex-direction: column;
}

.aaa {
	background: #FFFFFF;
}

.layout-topbar {
	position: fixed;
	height: 100px;
	width: 100%;
	z-index: 1000000;
	background-color: var(--surface-a);
	border-bottom: 2px solid var(--surface-d);
	display: flex;
	justify-content: space-between;
}

.layout-topbar .topbar-actions {
	display: flex;
}

.bordeBtn {
	border-bottom: 1px solid var(--surface-d);
}

.layout-content {
	margin-left: 250px;
	padding-top: 125px;
	padding-left: 30px;
	padding-right: 30px;
}

.layout-content2 {
	padding-top: 125px;
	padding-left: 30px;
	padding-right: 30px;
}

body {
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ui-button btnPanel {
	text-align: left;
}

.logo {
	width: 250px;
	justify-content: center;
	padding: 4px !important;
}

.custom-tabmenu .ui-tabmenu-nav li:first-child {
	margin-left: auto;
}

.text-align-center {
	text-align: center;
}

.footer {
	color: white;
	background-color: #1A1A1A;
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
}

.separador {
	margin-bottom: 125px;
}

.fildsetprueba {
	margin-bottom: 20px;
}

.datePicker {
	position: static !important;
}

.user {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #6c757d;
	padding: 1rem;
	font-weight: 700;
	display: block;
	line-height: 1;
	outline: 0 none;
}

.contenedorUser {
	padding-right: 15px;
}

.elemento {
	position: absolute !important;
}

.ui-cell-editor-input {
	display: flex;
	align-items: center !important;
}

.ui-datatable .ui-row-editing .ui-cell-editor .ui-cell-editor-input {
	display: grid;
}

ul {
	/*overflow: hidden !important;
	overflow-y: hidden !important;*/
	overflow-x: hidden !important;
}

td .columnaEditar {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.fondo{
	display: block;
	height: 100%;
	background: url("../images/7618722-20.png") no-repeat;
	background-size: cover;
	background-position: center;
}

.no-background{
	display: block;
	height: 100%;
}

.ui-growl-item{
	margin-top: 50px;
}

.bodyMantenimiento{
	padding: 10px;
}

.btnAcepMant{
	display: flex;
	justify-content: end;
    margin-top: 10px !important;
}

.ui-picklist-source, .ui-picklist-target {
    max-height: 200px; /* Ajusta la altura deseada */
    overflow-y: auto;
}

.fc .fc-view-harness .fc-view-harness-active{
	height: 750px !important;
}