@charset "ISO-8859-1";

.label {
	width: 20%;
	padding: 4px;
}

.value {
	width: 80%;
	padding: 4px;
}

.grid {
	width: 100%;
}

.error {
	color: red;
}

.outputLabel {
	font-weight: bold;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;

}


.fildsetprueba {
	margin-bottom: 20px;
}

.separador {
	margin-top: -10%;
	margin-bottom: 6%;
}

.headerRegistro {
	display: flex;
	background: linear-gradient(#006666, #FFFFFF);
	width: 100%;
	height: 500px;
	justify-content:center;
	color: white;
	font-size: 20px;
}

.textoHeader {
	margin-top: 7%;
	display:flex;
	justify-content: center;
}

body {
	margin: 0px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #f5f5f5;
}