@charset "ISO-8859-1";

.label {
	width: 20%;
	padding: 4px;
}

.value {
	width: 80%;
	padding: 4px;
}

.grid {
	width: 100%;
}

.error {
	color: red;
}

.outputLabel {
	font-weight: bold;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;

}


.fildsetprueba {
	margin-bottom: 20px;
}

.separador {
	margin-top: 13%;
	margin-bottom: 15%;
}

.headerRegistro {
	display: flex;
	background: linear-gradient(#006666, #FFFFFF);
	width: 100%;
	height: 500px;
	justify-content:center;
	color: white;
	font-size: 20px;
}

.textoHeader {
	margin-top: 7%;
	display:flex;
	justify-content: center;
}

body{
	display: block;
	height: 100%;
	background: url("../images/7618740-10.png") no-repeat;
	background-size: cover;
	background-position: center;
}

.footer {
	color: white;
	background-color: #1A1A1A;
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
}

.center{
	text-align: center;
}

.border-round{
    border: 3px solid #1d1954;
    border-radius: 20px !important;
}